.playlistControl-root {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    padding: 10px;
    font-size: 1em;
}

.playlistControl-shuffleButton {
    margin: 5px 0;
    padding: 0.7em 1.4em;
    font-size: larger;
}

.playlistControl-shuffleButton {
    margin: 5px 0;
    padding: 0.7em 1.4em;
    font-size: larger;
}

.playlistControl-organize {
    margin: 10px;
    margin-bottom: 5px;
}

.playlistControl-organize-title {
    font-size: large;
    margin: 5px 0;
}

.playlistControl-organize-list {
    list-style: none;
    padding: 0;
}

.playlistControl-organize-list li {
    transition: background-color 0.2s;
    list-style: none;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0.4em 0;
}

.playlistControl-organize-list-item-index {
    padding-right: 5px;
    opacity: 0;
}

.playlistControl-organize-list-item-button-reversedIcon {
    padding-left: 3px;
}

.playlistControl-organize-apply {
    width: 50px;
    margin-right: 8px;
}

.playlistControl-organize-clear {
    width: 50px;
}

.playlistControl-organize-list li.selected {
    color: white;
    background-color: #26733a;
}

.playlistControl-organize-list li.selected button {
    color: white;
}

.playlistControl-organize-list li.selected.reversed {
    color: white;
    background-color: #752855;
}

.playlistControl-organize-list li.selected .playlistControl-organize-list-item-index {
    opacity: 1;
}