.playlistControl-root {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    padding: 10px;
    font-size: 1em;
}

.playlistControl-shuffleButton {
    margin: 5px 0;
    padding: 0.7em 1.4em;
    font-size: larger;
}

.playlistControl-shuffleButton {
    margin: 5px 0;
    padding: 0.7em 1.4em;
    font-size: larger;
}

.playlistControl-organize {
    margin: 10px;
    margin-bottom: 5px;
}

.playlistControl-organize-title {
    font-size: large;
    margin: 5px 0;
}

.playlistControl-organize-list {
    list-style: none;
    padding: 0 10px;
}